@page "/login"
<h3>Login</h3>

<div style="text-align: center; margin-top: 50px">
    <h1>
        "Login Page"
    </h1>
    <h1>
        "Login Page"
    </h1>
    <p style="@StilMesaj">@MesajTest</p>
</div>

@code {

}